<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cocinaya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecetaEspaguetiCremaQueso"></activity>
        <activity android:name=".RecetaCremaQuesos" />
        <activity android:name=".RecetaCremaChampinion" />
        <activity android:name=".RecetaArrozVerde" />
        <activity android:name=".RecetaArrozRojo" />
        <activity android:name=".RecetaArrozBlanco" />
        <activity android:name=".IndiceBebidas" />
        <activity android:name=".IndiceDiabetico" />
        <activity android:name=".IndiceVegetariana" />
        <activity android:name=".IndicePlatoFuerte" />
        <activity android:name=".IndiceSopas" />
        <activity android:name=".Solofiltro" />
        <activity android:name=".IndiceComidaRapida" />
        <activity android:name=".RecetaSincronizada" />
        <activity android:name=".RecetaAlbondigadeRes" />
        <activity android:name=".RecetaAlambredePuerco" />
        <activity android:name=".RecetaAlambredeRes" />
        <activity android:name=".RecetaAlambredePollo" />
        <activity android:name=".RecetaCaldoRes" />
        <activity android:name=".RecetaCaldoPollo" />
        <activity android:name=".RecetaSopaTortilla" />
        <activity android:name=".RecetaSopaAguada" />
        <activity android:name=".IndiceRapido" />
        <activity android:name=".IndicePLatoFuerte" />
        <activity android:name=".ActivityComencemos" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>