<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cocinaya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecetaAtoleMazapan"></activity>
        <activity android:name=".RecetaMojitoFrappe" />
        <activity android:name=".RecetaMicheladaChamoy" />
        <activity android:name=".RecetaMicheladaCubana" />
        <activity android:name=".RecetaMangonada" />
        <activity android:name=".RecetaLicuadoMangoAvena" />
        <activity android:name=".RecetaCafeEspumoso" />
        <activity android:name=".RecetaPalomaGranada" />
        <activity android:name=".RecetaPolloSalsaAvena" />
        <activity android:name=".RecetaJitomatePurePapa" />
        <activity android:name=".RecetaGalletasManzana" />
        <activity android:name=".RecetaFresasMarcapone" />
        <activity android:name=".RecetaCevicheSoya" />
        <activity android:name=".RecetaBarraGranola" />
        <activity android:name=".RecetaTacosVegetarianos" />
        <activity android:name=".RecetaPozoleSetas" />
        <activity android:name=".RecetaPizzaVegetariana" />
        <activity android:name=".RecetaHamburguesaPortobello" />
        <activity android:name=".RecetaGorditaFrijol" />
        <activity android:name=".RecetaFlautasCalabaza" />
        <activity android:name=".RecetaFideosCalabaza" />
        <activity android:name=".RecetaCrepaGarvanzo" />
        <activity android:name=".RecetaCevicheColiflor" />
        <activity android:name=".RecetaAlbondigasBerenjena" />
        <activity android:name=".RecetaBurritosCarne" />
        <activity android:name=".RecetaFlautasRes" />
        <activity android:name=".RecetaCochinita" />
        <activity android:name=".RecetaChimichanga" />
        <activity android:name=".RecetaChicharronRoja" />
        <activity android:name=".RecetaBistecesRes" />
        <activity android:name=".RecetaEspaguetiCremaQueso" />
        <activity android:name=".RecetaCremaQuesos" />
        <activity android:name=".RecetaCremaChampinion" />
        <activity android:name=".RecetaArrozVerde" />
        <activity android:name=".RecetaArrozRojo" />
        <activity android:name=".RecetaArrozBlanco" />
        <activity android:name=".IndiceBebidas" />
        <activity android:name=".IndiceDiabetico" />
        <activity android:name=".IndiceVegetariana" />
        <activity android:name=".IndicePlatoFuerte" />
        <activity android:name=".IndiceSopas" />
        <activity android:name=".Solofiltro" />
        <activity android:name=".IndiceComidaRapida" />
        <activity android:name=".RecetaSincronizada" />
        <activity android:name=".RecetaAlbondigadeRes" />
        <activity android:name=".RecetaAlambredePuerco" />
        <activity android:name=".RecetaAlambredeRes" />
        <activity android:name=".RecetaAlambredePollo" />
        <activity android:name=".RecetaCaldoRes" />
        <activity android:name=".RecetaCaldoPollo" />
        <activity android:name=".RecetaSopaTortilla" />
        <activity android:name=".RecetaSopaAguada" />
        <activity android:name=".IndiceRapido" />
        <activity android:name=".IndicePLatoFuerte" />
        <activity android:name=".ActivityComencemos" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>